/* Estilos personalizados para el navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Color amarillo dorado */
    text-decoration: underline;
}

.navbar-nav .dropdown-menu {
    border-radius: 0.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-light {
    border-color: #ffc107;
    color: #ffc107;
}

.btn-outline-light:hover {
    background-color: #ffc107;
    color: #fff;
}
